:root {
	--text-color: #000;
	--text-color-dark-bg: #ddd;
	--text-color-dark-bg-placeholder: #888;
	--darkened: rgb(0 0 0 / 50%);
	--navbar-background-color: var(--gray4);
	--navbar-text-color: var(--text-color-dark-bg);
	--navbar-user-icon-light-color: #c6cdd5;
	--navbar-user-icon-dark-color: var(--gray3-hover);
}

:root[data-theme="light"] {
	--background-color: #ecf2f8;
	--red: #ff1a0a;
	--red-hover: #ff1a0a80;
	--orange: #faa356;
	--orange-hover: #faa35680;
	--green: #7ce38b;
	--blue: #78c1ff;
	--blue-hover: #78c1ff80;
	--dark-blue: #7597d1;
	--purple: #cea5fb;
	--purple-hover: #cea5fb80;
	--gray4: #161b22;
	--gray3: #21262d;
	--gray2: #a5afb9;
	--gray1: #c6cdd5;
	--gray4-hover: #161b2280;
	--gray3-hover: #21262d80;
	--gray2-hover: #a5afb980;
	--gray1-hover: #c6cdd580;
	--text-color-dynamic: #000;
}

:root[data-theme="dark"] {
	--background-color: #0d1117;
	--red: #aa3028;
	--red-hover: #aa302880;
	--orange: #e27c22;
	--orange-hover: #e27c2280;
	--green: #2d8655;
	--blue: #107b82;
	--blue-hover: #107b8280;
	--dark-blue: #3592e4;
	--purple: #cea5fb;
	--purple-hover: #cea5fb80;
	--gray4: #12161d;
	--gray3: #161b22;
	--gray2: #1c2128;
	--gray1: #21262d;
	--gray4-hover: #12161d80;
	--gray3-hover: #161b2280;
	--gray2-hover: #1c212880;
	--gray1-hover: #21262d80;
	--text-color-dynamic: #ddd;
}

:root[data-event-theme="pinktober"] {
	--navbar-background-color: #e891dc;
	--navbar-text-color: #400547;
	--navbar-user-icon-light-color: #400547;
	--navbar-user-icon-dark-color: var(--purple-hover);
}

:root[data-event-theme="christmas"] {
	--navbar-background-color: #095228;
	--navbar-text-color: #002111;
	--navbar-user-icon-light-color: #002111;
	--navbar-user-icon-dark-color: #095228;
}

:root[data-theme="high_contrast"] {
	--background-color: #000;
	--red: #f00;
	--orange: #ffa500;
	--green: #0f0;
	--blue: #00fff2;
	--dark-blue: #00fff2;
	--purple: #f33bee;
	--gray4: #111;
	--gray3: #222;
	--gray2: #333;
	--gray1: #444;
	--gray4-hover: #00000080;
	--gray3-hover: #11111180;
	--gray2-hover: #22222280;
	--gray1-hover: #33333380;
	--text-color-dynamic: #fff;
	--navbar-background-color: var(--gray4);
	--navbar-text-color: var(--text-color-dark-bg);
	--navbar-user-icon-light-color: var(--text-color-dark-bg);
	--navbar-user-icon-dark-color: var(--gray1);
}