<main>
	<div class="header" (click)="p.route = '/'">
		<div class="logo"></div>
		<div class="text">
			<span class="title">Association des Étudiants</span>
			<span class="subtitle">de l'université de technologie de Belfort-Montbéliard</span>
		</div>
	</div>

	<div *ngIf="u.isLoggedIn" class="warning">
		{{ 'connection.already_logged_as_x' | translate: { name: u.fullName } }}
	</div>

	<form>
		<div class="form-head">
			<app-title [text]="'forgot_password.title' | translate" [onDarkBackground]="true" />
			<a class="global-link" href="/login">{{ 'global.back' | translate}}</a>
		</div>

		<div class="form-description">
			{{ 'forgot_password.description' | translate }}
		</div>

		<div class="form-body">
			<div class="input-container">
				<div class="input">
					<icon-at class="icon" />
					<input id="mail" type="text" placeholder="{{ 'global.email_template' | translate }}" />
				</div>
				<span class="error">an error occurred</span>
			</div>
		</div>

		<app-button class="form-button" [text]="'forgot_password.send_email' | translate"></app-button>
	</form>
</main>