.alerts {
	width: 100%;
	max-width: var(--max-page-width);
	margin: 20px auto 0;
	display: flex;
	flex-direction: column;
	gap: 5px;

	> .alert {
		display: flex;
		width: 100%;
		min-height: 50px;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px 0 10px;
		border-radius: 10px;

		&.hiding {
			animation: fade-out 300ms ease-in forwards;
		}

		&.warning {
			background-color: var(--orange-hover);
			border: 1px solid var(--orange);
		}

		&.info {
			background-color: var(--blue-hover);
			border: 1px solid var(--blue);
		}

		&.danger {
			background-color: var(--red-hover);
			border: 1px solid var(--red);
		}

		> .icon {
			width: 20px;
			height: 20px;
			cursor: pointer;
			fill: var(--text-color-dynamic);
		}

		> .content {
			justify-content: flex-start;
			display: flex;
			flex-direction: column;

			> .title {
				font-family: Inter, sans-serif;
				font-weight: 500;
				font-size: calc(15px * var(--font-size));
				color: var(--text-color-dynamic);
			}

			> .text {
				font-family: Roboto, sans-serif;
				font-size: calc(11px * var(--font-size));
				color: var(--text-color-dynamic);
			}
		}
	}
}
