main {
  background-color: var(--gray3);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
	padding: 40px 20px 60px;

	> .warning {
		font-family: Roboto, sans-serif;
		background-color: var(--orange-hover);
		color: var(--text-color-dark-bg);
		border: 1px solid var(--orange);
		padding: 10px;
		width: 100%;
		max-width: 400px;
		border-radius: 5px;
		text-align: center;
	}

  > .header {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		> .logo {
			width: 200px;
			height: 130px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		> .text {
			display: flex;
			flex-direction: column;
			color: var(--text-color-dark-bg);
			font-family: Inter, sans-serif;

			> .title {
				font-size: calc(25.5px * var(--font-size));
			}

			> .subtitle {
				text-transform: uppercase;
				font-size: calc(10px * var(--font-size));
			}
		}

		&:hover > .text {
			color: var(--dark-blue);
		}
	}

  > form {
    width: 100%;
		max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    > .form-head {
      width: 100%;
    }

    > .form-body {
			display: flex;
			flex-direction: column;
			gap: 10px;

			> .input-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 5px;

				> .error,
				> .info {
					font-family: Roboto, sans-serif;
					font-size: calc(12px * var(--font-size));
					line-height: 14px;
					margin-left: calc(32px + 5px);
					display: flex;
					flex-direction: column;

					&.no-margin {
						margin-left: 0;
					}
				}

				> .error {
					color: var(--red);
				}

        > .info {
          color: var(--text-color-dark-bg);
        }

				> .input {
					width: 100%;
					display: flex;
					gap: 5px;

					>.icon {
						width: 16px;
						height: 16px;
						margin: 8px;
					}

					> input {
						font-family: Roboto, sans-serif;
						font-weight: normal;
						color: var(--text-color-dark-bg);
						background-color: var(--gray4);
						width: 100%;
						border: none;
						border-radius: 5px;
						height: 32px;
						padding: 5px 5px 5px 10px;
						display: flex;
						justify-content: flex-start;
						align-items: center;

						&::placeholder {
							color: var(--text-color-dark-bg-placeholder);
							font-size: calc(14px * var(--font-size));
						}
					}
				}
			}
		}

		> .form-captcha {
			margin: 0 auto;
		}

		> .form-button {
			width: 100%;
		}
  }
}