<main>
  <div class="header" (click)="p.route = '/'">
		<div class="logo" [ngStyle]="{ 'background-image': 'url(' + p.logo + ')' }"></div>
		<div class="text">
			<span class="title">Association des Étudiants</span>
			<span class="subtitle">de l'université de technologie de Belfort-Montbéliard</span>
		</div>
	</div>

	<div *ngIf="u.isLoggedIn" class="warning">
		{{ 'register.already_registered_and_logged_as_x' | translate: { name: u.fullName } }}
	</div>

  <form [formGroup]="formGroup" (ngSubmit)="register()" autocomplete="on" novalidate>
    <div class="form-head">
      <app-title [text]="'global.register' | translate" [onDarkBackground]="true"/>
      <a class="global-link" href="/login">{{ 'register.already_have_account' | translate }}</a>
    </div>

    <div class="form-body">
      <div class="input-container">
        <div class="input">
          <input formControlName="lastName" type="text" placeholder="{{ 'global.last_name' | translate }}" />
        </div>
        <div *ngIf="errors('lastName').length > 0" class="error no-margin">
					<span *ngFor="let error of errors('lastName')">{{ getError(error) | translate: { min: MIN_NAME } }}</span>
				</div>
      </div>

      <div class="input-container">
        <div class="input">
          <input formControlName="firstName" type="text" placeholder="{{ 'global.first_name' | translate }}" />
        </div>
				<div *ngIf="errors('firstName').length > 0" class="error no-margin">
					<span *ngFor="let error of errors('firstName')">{{ getError(error) | translate: { min: MIN_NAME } }}</span>
				</div>
      </div>

      <div class="input-container">
				<div class="input">
					<icon-calendar class="icon" />
					<input formControlName="birthDate" type="date" />
				</div>
				<span class="info">{{ 'register.date_birth_no_modif' | translate }}</span>
				<div *ngIf="errors('birthDate').length > 0" class="error">
					<span *ngFor="let error of errors('birthDate')">{{ getError(error) | translate: { min: MIN_AGE, max: MAX_AGE } }}</span>
				</div>
			</div>

      <div class="input-container">
				<div class="input">
					<icon-at class="icon" />
					<input formControlName="email" type="text" placeholder="{{ 'global.email_template' | translate }}" />
				</div>
				<div *ngIf="errors('email').length > 0" class="error">
					<span *ngFor="let error of errors('email')">{{ getError(error) | translate }}</span>
				</div>
			</div>

			<div class="input-container">
				<div class="input">
					<icon-password class="icon" />
					<input formControlName="password" type="password" placeholder="********" />
				</div>
				<span class="info">{{ 'register.min_password' | translate }}</span>
				<div *ngIf="errors('password').length > 0" class="error">
					<span *ngFor="let error of errors('password')">{{ getError(error) | translate: { min: MIN_PASSWORD } }}</span>
				</div>
			</div>

      <div class="input-container">
				<div class="input">
					<icon-password class="icon" />
					<input formControlName="passwordConfirm" type="password" placeholder="********" />
				</div>
				<span class="info">{{ 'register.confirm_password' | translate }}</span>
				<div *ngIf="errors('passwordConfirm').length > 0" class="error">
					<span *ngFor="let error of errors('passwordConfirm')">{{ getError(error) | translate }}</span>
				</div>
			</div>
    </div>

		<ng-hcaptcha formControlName="captcha" class="form-captcha"></ng-hcaptcha>

    <app-button type="submit" [disabled]="!formGroup.valid" height="large" class="form-button" [text]="'global.register' | translate"></app-button>
  </form>
</main>