<dialog class="picture-dialog" #picture>
	<sith-title
		[text]="self
			? ('profile.update_picture' | translate)
			: ('profile.update_picture_of_user' | translate: { username })"
		[adaptColor]="true"
	/>

	<form method="dialog">
		<span *ngIf="timeLeft" class="warning">
			{{ 'profile.picture_too_recent' | translate: { date: timeLeft | date: 'dd/MM/yyyy HH:mm:ss' } }}
		</span>

		<sith-image-cropper
			class="cropper"
			*ngIf="pictureUncropped"
			[imageUrl]="pictureUncropped"
			[cropperOptions]="options"
			(export)="updateCroppedPicture($event)"
		/>

		<sith-file-input *ngIf="!timeLeft" (fileChange)="updateUncroppedPicture($event)" />

		<sith-button
			type="submit"
			*ngIf="!timeLeft"
			[text]="'global.save' | translate"
			[disabled]="!pictureUncropped"
			tabindex="0" (keydown.enter)="cropper.exportCanvas()" (click)="cropper.exportCanvas()"
		/>

		<sith-button *ngIf="userPicture && userCanEdit"
			[text]="'global.delete' | translate"
			aspect="danger"
			tabindex="0" (keydown.enter)="deleteCurrentPicture()" (click)="deleteCurrentPicture()"
		/>
	</form>
</dialog>
