<app-user-profile-picture-edit-modal #pictureModal (pictureUpdated)="updatePicture($event)" />
<app-user-profile-banner-edit-modal #bannerModal (bannerUpdated)="updateBanner($event)" [existingBanner]="profileBanner !== undefined" />

<div class="content">
	<div class="profile">
		<div class="banner" [ngStyle]="{ 'background-image': 'url(' + profileBanner + ')' }" [ngClass]="profileBanner ? 'has-banner' : ''">
			<span *ngIf="suspended" class="suspended">{{ 'profile.account_suspended' | translate }}</span>
			<span *ngIf="banned" class="banned">{{ 'profile.account_banned' | translate }}</span>
			<icon-pencil class="pencil" *ngIf="isOwnerOrHasPermission" (click)="bannerModal.open()"/>
		</div>
		<div class="pictures" [ngClass]="{ 'rtl': p.isRTL }">
			<icon-user class="picture" (click)="pictureModal.open()" [url]="profilePicture" />
			<icon-promotion *ngIf="user?.promotion" class="promotion" [number]="user?.promotion" [ngClass]="{ 'rtl': p.isRTL }" />
		</div>

		<div class="infos">
			<div class="main" [ngClass]="{ 'rtl': p.isRTL }">
				<div>
					<span class="name">{{ user?.first_name }} {{ user?.last_name }}</span>
					<div class="subname">
						<div *ngIf="nickname" class="nickname">{{ nickname }}</div>
						<div *ngIf="age">{{ 'profile.age' | translate: { age } }}</div>
					</div>
				</div>
				<icon-flag class="flag" *ngIf="!isOwner" />
			</div>

			<div class="tab">
				<div class="header">
					<div class="tabs">
						<button class="link" [ngClass]="{ 'shown': current === 'about' }" (click)="current = 'about'">{{ 'profile.about' |
							translate }}</button>
						<button class="link" [ngClass]="{ 'shown': current === 'contact' }" (click)="current = 'contact'">{{
							'profile.contact' | translate }}</button>
					</div>
					<icon-pencil class="pencil" *ngIf="isOwnerOrHasPermission" />
				</div>

				<div class="body">
					<div class="details" [ngClass]="{ 'shown': current === 'about' }">
						<!-- Profil -->
						<div class="row">
							<div class="column" *ngIf="user?.birthday">
								<span class="title">{{ 'profile.birthday' | translate }}</span>
								<span>{{ user?.birthday | date: 'dd/MM/yyyy' }}</span>
							</div>
							<div class="column" *ngIf="user?.cursus">
								<span class="title">{{ 'profile.cursus_utbm' | translate }}</span>
								<span>{{ user?.cursus }}</span>
							</div>
							<div class="column" *ngIf="user?.created">
								<span class="title">{{ 'profile.joined_the_site' | translate }}</span>
								<span>{{ user?.created | date: 'dd/MM/yyyy' }}</span>
							</div>
						</div>
						<div class="row">
							<div class="column" *ngIf="user?.gender">
								<span class="title">{{ 'profile.gender' | translate }}</span>
								<span>{{ user?.gender }}</span>
							</div>
							<div class="column" *ngIf="user?.specialty">
								<span class="title">{{ 'profile.specialty' | translate }}</span>
								<span>{{ user?.specialty }}</span>
							</div>
							<div class="column" *ngIf="user?.last_seen">
								<span class="title">{{ 'profile.last_seen' | translate }}</span>
								<span>{{ user?.last_seen | date: 'dd/MM/yyyy' }}</span>
							</div>
						</div>
						<div class="row">
							<div class="column" *ngIf="user?.pronouns">
								<span class="title">{{ 'profile.pronouns' | translate }}</span>
								<span>{{ user?.pronouns }}</span>
							</div>
							<div class="column" *ngIf="user?.promotion">
								<span class="title">{{ 'profile.promotion' | translate }}</span>
								<span>{{ user?.promotion }}</span>
							</div>
							<div class="column" *ngIf="user?.subscription">
								<span class="title">{{ 'profile.subscription' | translate }}</span>
								<span>{{ user?.subscription | date: 'dd/MM/yyyy' }}</span>
							</div>
						</div>
					</div>
					<div class="details" [ngClass]="{ 'shown': current === 'contact' }">
						<!-- Contact -->
						<div class="row">
							<div class="column">
								<span class="title">{{ 'profile.email' | translate }}</span>
								<span>{{ user?.email }}</span>
							</div>
							<div class="column">
								<span class="title">{{ 'profile.secondary_email' | translate }}</span>
								<span>{{ user?.secondary_email }}</span>
							</div>
							<div class="column">
								<span class="title">{{ 'profile.phone' | translate }}</span>
								<span>{{ user?.phone }}</span>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<span class="title">{{ 'profile.parent_contact' | translate }}</span>
								<span>{{ user?.parent_contact }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
