<div class="header">
	<img class="logo" [src]="p.logo" alt="logo_ae" (click)="p.route = '/'">
	<div class="icons">
		<icon-cogwheel (click)="triggerSideMenuOptions()" />
		<icon-user-icon *ngIf="u.isLoggedIn" (click)="triggerSideMenuProfile()" [url]="u.picture" [notifications]="u.notificationsCount ?? 0" />
		<icon-burger-menu *ngIf="!u.isLoggedIn" (click)="triggerSideMenuConnection()" />
	</div>
</div>

<app-side-menu (close)="triggerSideMenuProfile()" class="side-menu" [ngClass]="{ 'open': profileOpened }">
	<app-side-menu-profile (close)="triggerSideMenuProfile()" />
</app-side-menu>

<app-side-menu (close)="triggerSideMenuConnection()" class="side-menu" [ngClass]="{ 'open': connectionOpened }">
	<app-side-menu-disconnected />
</app-side-menu>

<app-side-menu (close)="triggerSideMenuOptions()" class="side-menu" [ngClass]="{ 'open': optionsOpened }" >
	<app-side-menu-options />
</app-side-menu>
