$background-color: #21262D;

.header {
	background-color: $background-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	height: 70px;

	> .logo {
		width: 64px;
		height: 64px;
	}

	> .icons {
		display: flex;
		padding: 16px;
		gap: 16px;

		> * {
			width: 32px;
			height: 32px;
			fill: white;
		}
	}
}









// MAIN NAVBAR
.mobile-navbar {
  display: flex;
  position: sticky;
  height: 10%;
  background: #21262D;
}

.mobile-navbar__item-container {
  display: flex;
  justify-content: space-between;
  flex: auto;
  padding-left: 2%;
  padding-right: 3%;
}

.icon-container {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.mobile-navbar__item-container__image {
  display: flex;
  align-items: center;
}

.mobile-navbar__item-container__icons {
  display: flex;
  gap: 5%;
}

.logo {
  object-fit: contain;
  height: 80%;
}

.icon-settings {
  filter: invert(100%);
  height: 55%;
}

.icon-profile {
  object-fit: contain;
  height: 60%;
}
