<main>
	<div class="header" (click)="p.route = '/'">
		<div class="logo" [ngStyle]="{ 'background-image': 'url(' + p.logo + ')' }"></div>
		<div class="text">
			<span class="title">Association des Étudiants</span>
			<span class="subtitle">de l'université de technologie de Belfort-Montbéliard</span>
		</div>
	</div>

	<div *ngIf="u.isLoggedIn" class="warning">
		{{ 'login.already_logged_as_x' | translate: { name: u.fullName } }}
	</div>

	<form>
		<div class="form-head">
			<app-title [text]="'global.sign_in' | translate" [onDarkBackground]="true" />
			<a class="global-link" href="/register">{{ 'login.no_account' | translate}}</a>
		</div>

		<div class="form-body">
			<div class="input-container">
				<div class="input">
					<icon-at class="icon" />
					<input type="text" name="email" [(ngModel)]="fields.email" (ngModelChange)="emailUpdate()"
						placeholder="{{ 'global.email_template' | translate }}" />
				</div>
				<span *ngIf="errors['email']" class="error">{{ errors['email'] | translate }}</span>
			</div>

			<div class="input-container">
				<div class="input">
					<icon-password class="icon" />
					<input type="password" name="password" [(ngModel)]="fields.password" placeholder="********" />
				</div>
				<span *ngIf="errors['password']" class="error">{{ errors['password'] | translate }}</span>
			</div>

			<a class="global-link" href="/forgot_password">
				{{ 'login.forgot_password' | translate }}
			</a>
		</div>

		<app-button height="large" (click)="login()" class="form-button" [text]="'global.sign_in' | translate"></app-button>
	</form>
</main>