<dialog class="banner-dialog" #banner>
	<!-- <icon-close class="close" (click)="closePictureModal()" /> -->

	<app-title [text]="isSelf() ? ('profile.update_banner' | translate) : ('profile.update_banner_of_user' | translate: { username })" [adaptColor]="true" />
	<form method="dialog">
		<app-file-input (change)="updateUncroppedBanner($event)" />

		<app-image-cropper
			class="cropper"
			*ngIf="bannerUncropped"
			[imageUrl]="bannerUncropped"
			[cropperOptions]="options"
			(export)="updateCroppedBanner($event)"
		/>

		<app-button [disabled]="!bannerUncropped" [text]="'global.save' | translate" type="submit" (click)="cropper.exportCanvas()" />

		<app-button *ngIf="existingBanner" [text]="'global.delete' | translate" aspect="danger" (click)="deleteCurrentBanner()"/>
	</form>
</dialog>
