<dialog class="picture-dialog" #picture>
	<sith-title [text]="isOwner ? ('profile.update_picture' | translate) : ('profile.update_picture_of_user' | translate: { username })" [adaptColor]="true" />
	<form method="dialog">
		<span *ngIf="timeLeft" class="warning">{{ 'profile.picture_too_recent' | translate: { date: timeLeft | date: 'dd/MM/yyyy HH:mm:ss' } }}</span>

		<sith-file-input *ngIf="!timeLeft" (fileChange)="updateUncroppedPicture($event)" />

		<sith-image-cropper
			class="cropper"
			*ngIf="pictureUncropped"
			[imageUrl]="pictureUncropped"
			[cropperOptions]="options"
			(export)="updateCroppedPicture($event)"
		/>

		<sith-button
			type="submit"
			*ngIf="!timeLeft"
			[text]="'global.save' | translate"
			[disabled]="!pictureUncropped"
			(click)="cropper.exportCanvas()"
		/>

		<sith-button *ngIf="existingPicture && hasPermissions" [text]="'global.delete' | translate" aspect="danger"
			(click)="deleteCurrentPicture()" />
	</form>
</dialog>
