<div class="navbar">
	<div class="link" *ngIf="u.isLoggedIn">
		<icon-heart-plus class="icon" />
		<span>{{ 'navbar.favorites' | translate }}</span>
	</div>
	<div class="link" (click)="page.route = '/shop'">
		<icon-shopping-cart class="icon" />
		<span>{{ 'navbar.shop' | translate }}</span>
	</div>
	<div class="link" (click)="page.route = '/events'">
		<icon-party-hat class="icon" />
		<span>{{ 'navbar.events' | translate }}</span>
	</div>
	<div class="link" (click)="page.route = '/forum'">
		<icon-messages class="icon" />
		<span>{{ 'navbar.forum' | translate }}</span>
	</div>
	<div class="link" (click)="page.route = '/pictures'">
		<icon-pictures class="icon" />
		<span>{{ 'navbar.pictures' | translate }}</span>
	</div>
</div>
