<div *ngIf="page.isDesktop">
	<sith-desktop-header *ngIf="!page.isHeadless" />
	<sith-desktop-alert *ngIf="!page.isHeadless && alerts.all.length > 0" />
	<main [ngClass]="{ 'headless': page.isHeadless }">
		<sith-desktop-navbar *ngIf="!page.isHeadless" />
		<router-outlet></router-outlet>
	</main>
</div>

<div *ngIf="page.isMobile">
	<sith-mobile-header *ngIf="!page.isHeadless"/>
	<sith-mobile-navbar *ngIf="!page.isHeadless"/>
	<sith-mobile-alert *ngIf="!page.isHeadless"/>
	<router-outlet></router-outlet>
</div>
