main {
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 5px;
	display: flex;
	flex-direction: column;
	gap: 30px;

	&.headless {
		margin: 0;
		max-width: none;
		padding: 0;
	}
}

router-outlet {
	display: none;
}
