<dialog class="infos-dialog" #modal>
	<sith-title [text]="isSelf() ? ('profile.update_infos' | translate) : ('profile.update_infos_of_user' | translate: { username })" [adaptColor]="true" />
	<p class="infos-text" *ngIf="isSelf()">{{ 'profile.identity_info' | translate }}</p>

	<form method="dialog" [formGroup]="infosForm">

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.first_name' | translate }}</div>
					<div class="input">
						<input formControlName="first_name" type="text" />
					</div>
				</div>
				<div class="input-container">
					<div class="subtitle">{{ 'profile.last_name' | translate }}</div>
					<div class="input">
						<input formControlName="last_name" type="text" />
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.nickname' | translate }}</div>
					<div class="input">
						<input formControlName="nickname" type="text" />
					</div>
				</div>
				<div class="input-container">
					<div class="subtitle">{{ 'profile.birthday' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['birthday']" (click)="visibility['birthday'] = !visibility['birthday']" />
						<input formControlName="birthday" type="date" />
					</div>
				</div>
			</div>
		</div>

		<div class="field" *ngIf="user.isMinor">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.parent_contact' | translate }}</div>
					<div class="infos-text">{{ 'profile.parent_contact_info' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['parent_contact']" (click)="visibility['parent_contact'] = !visibility['parent_contact']" />
						<input formControlName="parent_contact" type="text" />
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.email' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['email']" (click)="visibility['email'] = !visibility['email']" />
						<input formControlName="email" type="email" />
					</div>
				</div>
				<div class="input-container">
					<div class="subtitle">{{ 'profile.secondary_email' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['secondary_email']" (click)="visibility['secondary_email'] = !visibility['secondary_email']" />
						<input formControlName="secondary_email" type="email" />
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.phone' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['phone']" (click)="visibility['phone'] = !visibility['phone']" />
						<input formControlName="phone" type="tel" />
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.gender' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['gender']" (click)="visibility['gender'] = !visibility['gender']" />
						<input formControlName="gender" type="text" />
					</div>
				</div>
				<div class="input-container">
					<div class="subtitle">{{ 'profile.pronouns' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['pronouns']" (click)="visibility['pronouns'] = !visibility['pronouns']" />
						<input formControlName="pronouns" type="text" />
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.cursus_utbm' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['cursus']" (click)="visibility['cursus'] = !visibility['cursus']" />
						<input formControlName="cursus" type="text" />
					</div>
				</div>
				<div class="input-container">
					<div class="subtitle">{{ 'profile.specialty' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['specialty']" (click)="visibility['specialty'] = !visibility['specialty']" />
						<input formControlName="specialty" type="text" />
					</div>
				</div>
			</div>
		</div>

		<div class="field">
			<div class="inputs">
				<div class="input-container">
					<div class="subtitle">{{ 'profile.promotion' | translate }}</div>
					<div class="input">
						<icon-eye class="icon" [open]="visibility['promotion']" (click)="visibility['promotion'] = !visibility['promotion']" />
						<input formControlName="promotion" type="number" [min]="minPromotion" [max]="maxPromotion" (input)="updatePromotion($event)" />
					</div>
				</div>
				<div class="logo" *ngIf="promotion">
					<icon-promotion [number]="promotion" />
				</div>
			</div>
		</div>

	</form>

	<sith-title *ngIf="!isSelf()" [text]="'profile.update_permissions_of_user' | translate: { username }" [adaptColor]="true" />

	<div class="buttons">
		<sith-button class="button" [text]="'global.save' | translate" [disabled]="!infosForm.valid" />
		<sith-button class="button" [text]="'global.cancel' | translate" (click)="cancel()" />
	</div>

</dialog>
