<div class="mobile-navbar">
  <div class="mobile-navbar__item-container">
    <div class="mobile-navbar__item-container__image">
        <img href="" class="logo" src="assets/logo_ae.svg" alt="logo ae" />
    </div>
    <div class="mobile-navbar__item-container__icons">
      <a class="icon-container" href="">
        <img class="icon-settings" alt="icone settings" src="assets/icons/icone_settings.svg" />
      </a>
      <a class="icon-container" href="">
        <img class="icon-profile" alt="icone profile" src="assets/icons/icone_profile.svg" />
      </a>
    </div>
  </div>
</div>