<div class="mobile-navbar">
  <div class="mobile-navbar__item-container">
    <div class="mobile-navbar__item-container__image">
        <img href="" class="logo" src="assets/logo_ae.svg" alt="logo ae" />
    </div>
    <div class="mobile-navbar__item-container__icons">
      <button class="icon-container" onclick="window.location.href=''">
        <img class="icon-settings" alt="icone settings" src="assets/icons/icone_settings.svg" />
      </button>
      <button class="icon-container" onclick="window.location.href=''">
        <img class="icon-profile" alt="icone profile" src="assets/icons/icone_profile.svg" />
      </button>
    </div>
  </div>
</div>
