<dialog class="picture-dialog" #picture>
	<!-- <icon-close class="close" (click)="closePictureModal()" /> -->

	<app-title [text]="'profile.update_picture' | translate" [adaptColor]="true" />
	<form method="dialog">
		<span *ngIf="timeLeft" class="warning">{{ 'profile.picture_too_recent' | translate: { date: timeLeft | date: 'dd/MM/yyyy HH:mm:ss' } }}</span>

		<app-file-input *ngIf="!timeLeft" (change)="updateUncroppedPicture($event)" />

		<app-image-cropper
			class="cropper"
			*ngIf="pictureUncropped"
			[imageUrl]="pictureUncropped"
			[cropperOptions]="options"
			(export)="updateCroppedPicture($event)"
		/>

		<app-button *ngIf="!timeLeft" [disabled]="!pictureUncropped" [text]="'global.save' | translate" type="submit" (click)="cropper.exportCanvas(true)" />
	</form>
</dialog>
