.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--navbar-background-color);
	height: 70px;
	padding-left: 10px;

	> .title {
		cursor: pointer;
		display: flex;
		align-items: center;
		height: 64px;
		gap: 10px;

		> img {
			width: 64px;
			height: 64px;
		}

		> .text {
			color: var(--navbar-text-color);
			display: flex;
			flex-direction: column;
			font-family: Roboto, sans-serif;
			font-weight: 500;
			margin-bottom: 5px;

			> .big {
				font-size: calc(20px * var(--font-size));
			}

			> .small {
				font-size: calc(8px * var(--font-size));
				text-transform: uppercase;
			}
		}

		&:hover > .text {
			color: var(--dark-blue);
		}
	}

	> .icons {
		display: flex;
		fill: var(--navbar-text-color);
		align-items: center;
		gap: 16px;
		padding: 0 16px;

		> .icon {
			cursor: pointer;
			width: 32px;
			height: 32px;
			fill: var(--navbar-text-color);

			&.search {
				width: 22px;
				height: 22px;
			}

			&:hover {
				fill: var(--dark-blue);
			}
		}
	}
}

.side-menu {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	animation: fade 0.5s ease-in-out;
	background-color: var(--darkened);
	display: none;

	&.open {
		display: block;
	}
}
