.alert {
	background-color: var(--orange);
	min-height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

	&.hiding {
		animation: move-up 500ms linear forwards, fade-out 400ms linear forwards;
	}

	> .content {
		justify-content: flex-start;
		font-family: Roboto, sans-serif;
		display: flex;
		flex-direction: column;

		> .title {
			font-weight: 600;
			font-size: calc(15px * var(--font-size));
		}

		> .text {
			font-size: calc(11px * var(--font-size));
		}
	}

	> .icon {
		width: 20px;
		height: 20px;
	}
}

.alert.hidden {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}