<div class="header">
	<div class="title" (click)="p.route = '/'">
		<img [src]="p.logo" />
		<div class="text">
			<span class="big">Association des Étudiants</span>
			<span class="small">de l'université de technologie de Belfort-Montbéliard</span>
		</div>
	</div>

	<div class="icons">
		<icon-search class="icon search" *ngIf="u.isLoggedIn" />
		<icon-shopping-basket class="icon" *ngIf="u.isLoggedIn" />
		<icon-cogwheel class="icon" (click)="triggerSideMenuOptions()" />
		<icon-user-icon class="icon" *ngIf="u.isLoggedIn" (click)="triggerSideMenuProfile()" [url]="u.picture" />
		<icon-burger-menu class="icon" *ngIf="!u.isLoggedIn" (click)="triggerSideMenuConnection()" />
	</div>
</div>

<app-side-menu (close)="triggerSideMenuProfile()" class="side-menu" [ngClass]="{ 'open': profileOpened }">
	<app-side-menu-profile (close)="triggerSideMenuProfile()" />
</app-side-menu>

<app-side-menu (close)="triggerSideMenuConnection()" class="side-menu" [ngClass]="{ 'open': connectionOpened }">
	<app-side-menu-disconnected />
</app-side-menu>

<app-side-menu (close)="triggerSideMenuOptions()" class="side-menu" [ngClass]="{ 'open': optionsOpened }">
	<app-side-menu-options />
</app-side-menu>