<sith-user-profile-picture-edit-modal *ngIf="userCanEdit"
	#pictureModal
	(pictureUpdated)="userPicture = $event"
	[username]="user?.first_name ?? 'unknown'"
	[userPicture]="userPicture"
	[userPictureId]="user?.picture"
	[userCanEdit]="userCanEdit"
	[self]="isOwner()"
/>

<sith-user-profile-banner-edit-modal *ngIf="userCanEdit" #bannerModal (bannerUpdated)="userBanner = $event" [username]="user?.first_name ?? 'unknown'" [existingBanner]="userBanner !== undefined" />
<sith-user-profile-infos-edit-modal *ngIf="userCanEdit" #infosModal [username]="user?.first_name ?? 'unknown'" />

<sith-user-profile-desktop *ngIf="!page.isMobile()" />
<sith-user-profile-mobile *ngIf="page.isMobile()"
	[user]="user"
	[userPicture]="userPicture"
	[userBanner]="userBanner"
	[userCanEdit]="userCanEdit"
	[userCanReadPrivate]="userCanReadPrivate"
	[self]="isOwner()"

	(openModal)="openModal($event)"
/>
