<div class="mobile-navbar__menu">
  <div class="mobile-navbar__item-container">
    <div class="mobile-navbar__item-container__icons">
      <div class="mobile-navbar__item-container__icons__left">
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone favoris" src="assets/icons/icone_favoris.svg"/>
        </button>
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone boutique" src="assets/icons/icone_boutique.svg"/>
        </button>
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone party" src="assets/icons/icone_party.svg"/>
        </button>
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone forum" src="assets/icons/icone_forum.svg"/>
        </button>
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone photos" src="assets/icons/icone_photos.svg"/>
        </button>
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone laundry" src="assets/icons/icone_laundry.svg"/>
        </button>
      </div>
      <div class="mobile-navbar__item-container__icons__right">
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone recherche" src="assets/icons/icone_search.svg"/>
        </button>
        <button class="icon-container" onclick="window.location.href=''">
          <img class="icon-menu" alt="icone panier" src="assets/icons/icone_panier.svg"/>
        </button>
      </div>
    </div>
  </div>
</div>