h1 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 39px;
  text-transform: uppercase;
	height: 39px;
	margin: 0;
	color: var(--text-color);
}

.dark-mode {
  color: var(--text-color-dark-bg);
}

.centered {
	text-align: center;
}
