<main>
	<div class="header" (click)="page.route = '/'">
		<div class="logo" [ngStyle]="{ 'background-image': 'url(' + page.logo + ')' }"></div>
		<div class="text">
			<span class="title">Association des Étudiants</span>
			<span class="subtitle">de l'université de technologie de Belfort-Montbéliard</span>
		</div>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="sendEmail()" autocomplete="on" novalidate>
		<div class="form-head">
			<app-title [text]="'forgot_password.title' | translate" [onDarkBackground]="true" />
			<a class="global-link" href="/login">{{ 'global.back' | translate}}</a>
		</div>

		<div class="form-description">
			{{ 'forgot_password.description' | translate }}
		</div>

		<div class="form-body">
			<div class="input-container">
				<div class="input">
					<icon-at class="icon" />
					<input formControlName="email" type="text" name="email" placeholder="{{ 'global.email_template' | translate }}" />
				</div>
				<div *ngIf="errors('email').length > 0" class="error">
					<span *ngFor="let error of errors('email')">{{ getError(error) | translate }}</span>
				</div>
			</div>
		</div>

		<app-button [disabled]="formGroup.invalid" type="submit" height="large" class="form-button" [text]="'forgot_password.send_email' | translate"></app-button>
	</form>
</main>
